.example-container {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  align-items: center;
  position: absolute;
  top:40%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

button{
  height: 30%;
  width: 30%;
  outline: none;
}

a{
  text-decoration: none;
  text-decoration-color: blue;
}
