*{
  margin:0;
  padding: 0;
}

.active_class {
  color: #03A9F4;
  background-color: #2b2b2b;
}

.btn{
  cursor: pointer;
  border:0;
  outline: 0;
  padding: 0.4em 0.5em;
  font-size: 1.5rem;
  font-family: Amsterdam;
  color: white;
  background-image: linear-gradient(100deg, white 50%, darkgray 50%);
  background-position: 100%;
  background-size: 250%;
  transition: background 0.4s ease-in, color 0.5s ease-in;
}

.btn:hover{
  color: darkgray;
  background-position: 0;
}

.btn-exit{
  cursor: pointer;
  border:0;
  outline: 0;
  padding: 0.4em 0.7em;
  float: right;
  font-family: Amsterdam;
  font-size: 1.5rem;
  font-weight: bold;

  color: white;
  background-image: linear-gradient(100deg, white 50%, darkgray 50%);
  background-position: 100%;
  background-size: 250%;
  transition: background 0.4s ease-in,color 0.5s ease-in;
}

.btn-exit:hover{
  color: darkgray;
  background-position: 0;
}

div{
  background-color: darkgray;
}

h2{
  margin-top: 15px;
  display: inline-block;
  background: white;
  color: #780c0c;
}
