<body>


<div id="container">

  <div id="col1">

    <img  src="../assets/money.png" alt="Diagrama"  width="250" height="250" align="left" />
    <div id="text">
      <p>Узнайте, на что уходят<br>Ваши деньги</p>
    </div>
    <div id="text2"><p>Чтобы начать работу, пожалуйста, зарегистрируйтесь <br> или войдите в систему</p>
    </div>
  </div>

  <div id="col2">
    <mat-tab-group mat-align-tabs="end" color="warn" >
      <mat-tab label="Зарегистрироваться"> <div class="box"><app-registration></app-registration></div></mat-tab>
      <mat-tab label="Войти"><div class="box"><app-login></app-login></div></mat-tab>
    </mat-tab-group>
  </div>
</div>
